
{%block name="数据处理"%}
	<script>
    	console.log({%json_encode(dataName)%})
    </script>
    

{%/block%}

{%block name='content'%}
<style data-merge>
     .-tabs-nav-selected {
    	font-weight:bold;	
      }
     .-search-index {
      	text-align:right;
       	color:#999;
        float:right;
      }
      .-hotnews-list {
      	cursor:pointer;
        border-bottom:1px solid #d9d9d9;
      }
      .-hotnews-list-title{
      	padding: 10px 0;
      }
      .-hotnews-list-title a {
      	text-decoration:none;
      }
     .-hotnews-list-title a:hover {
        text-decoration: underline;
	  }
      .-hotnews-content{
      	padding-bottom:10px;
      }
      .-show-hide{
      	display:none;
      }
    .-want-more {
      	margin-top:10px;
      }
     
</style>

<div class=" test-tabs">
    <div class="-tabs-nav">
        <div class=-tabs-nav-view">
            <ul class="-tabs-nav-more">
                {%if $data.newsNavs.pointNav[1]%}
                {%foreach $data.newsNavs.pointNav as $item%}
                    {%if !$item@first%}<li class="-tabs-nav-sep" style="visibility:hidden"></li>{%/if%}
                    <li class="-tabs-nav-li O_L_BTN{%if $item.first%} -tabs-nav-selected{%/if%}">{%$item.label%}</li>
                {%/foreach%}
            {%else%}
            <li class="-tabs-nav-li -tabs-nav-selected">{%$data.newsNavs.pointNav[0].label%}</li>
            {%/if%}
            </ul>
        </div>
    </div>
    {%foreach $data.newsNavs.pointNav as $item%}
    	<div class="-tabs-content" {%if !$item.first%}style="display:none"{%/if%} >
        
    	<ul class='op-hotnews-body'>

       {%foreach array_slice($item.newsData, 0, 5) as $news%}
                <li class='op-hotnews-list'>
                  <div class='op-hotnews-list-title'>                   
                            <a href='{%wd="`$news.newsTitle`"%}' target="_blank">
                                {%if $news@index==0%}<span class='index1'>1</span>
                                {%elseif $news@index==1%}<span class='index2'>2</span>
                                {%elseif $news@index==2%}<span class='index3'>3</span>
                                {%else%}<span class='-index'>{%$news@index+1%}</span>{%/if%}
                                {%$news.newsTitle%}
                             </a>
                        <div class='-search-index'>指数:{%$news.searchIndex%}
                            <i class="-toplist-st -icon {%if $news.change > 0%}icon-up{%elseif $news.change <0 %}icon-down{%else%}-icon-stable{%/if%}"></i>
                        </div>
                   </div>
                  <div class = 'op-hotnews-content show-hide'>
                            {%$news.newsContent|truncate:120:'...':true%}
                  </div>
                  </li>
		{%/foreach%}
         
        </ul>
         <div class='want-more'> <a target="_blank" href="{%$item.labelUrl%}">更多{%$item.label%}>>
         </a></div>
     </div>
     {%/foreach%}
</div>
<script>
    A.setup(function(){
        var _this = this,
        	$newsList = _this.find('.hotnews-list'),
           	$newsTitle = _this.find('.hotnews-list-title'),
            $timer = '';
          
       	$newsList.on('click',function(){
        	var me = this,
            $newsUrl =$(me).children().find("a").attr("href");
            	window.open($newsUrl);
        	
        });
        
       /* $newsList.on('mouseenter',function(){
           	var newsContent = this.nextElementSibling||me.nextSibling;
            $timer=setTimeout(function(){
            	newsContent.style.display = 'table-row';
            },2000)
        
        });*/
        $newsTitle.on('mouseover',function(event){
        
        		var oTr = $(this).next();
               var oTd = $(this).parent('li').siblings().find('.hotnews-content');
               if(event.target = $(this)){
               console.log(event.target)
               
                $(oTd).css('display','none');
            	$(oTr).slideDown('slow');
            
        	}
        });
      /*$newsList.on('mouseenter',function(){
       		var oTr = $(this).children().last();
            var oTd = $(this).siblings().find('.hotnews-content');
           	setTimeout(function(){
            	//$(oTr).removeClass('show-hide');
                $(oTd).css('display','none');
            	$(oTr).slideDown('slow');
                console.log(oTd);
            },1000)
            //$(oTr).removeClass('oshow-hide');        
    	});*/
       /*$timer=setTimeout(function(){
            	 $(oTr).css('display','block');
                 $(oTr).siblings().children().find('.hotnews-content').css('display','none');
            },500) */
        
        
       /*$newsList.on('mouseleave',function(e){  
        	var oTr = $(this).children().last();
            	if($timer != ''){
            	  clearTimeout($timer);
                	$(oTr).slideUp("slow");
                	timer = '';
                    return;
               }*/
        	//var newsContent = $(oTd).nextElementSibling||this.nextSibling;
		     
      //  });

        A.use('tabs5', function(){
            A.ui.tabs5(_this.qq('c-tabs'));
        });
    });
    
</script>

{%/block%}
