{%block name=""%}

{%/block%}

{%block name='content'%}

<style>
   
     
</style>

<div class="-tabs test-tabs">
    <div class="tabs-nav">
        <div class="-nav-view">
            <ul class="-nav-more">
                {%if $data.newsNavs.pointNav[1]%}
                {%foreach $tplData.newsNavs.pointNav as $item%}
                    {%if !$item@first%}<li class="s-nav-sep" style="visibility:hidden"></li>{%/if%}
                    <li class="-nav-li OP_LOG_BTN{%if $item.first%} c-tabs-nav-selected{%/if%}">{%$item.label%}</li>
                {%/foreach%}
            {%else%}
            <li class="abs-nav-selected">{%$tplData.newsNavs.pointNav[0].label%}</li>
            {%/if%}
            </ul>
        </div>
    </div>
    {%foreach $tplData.newsNavs.pointNav as $item%}
    	<div class="-content" {%if !$item.first%}style="display:none"{%/if%} >
        
    	<ul class='op-hotnews-body'>

       {%foreach array_slice($item.newsData, 0, 5) as $news%}
                <li class='op-hotnews-list'>
                  <div class='op-hotnews-list-title'>                   
                            <a href='{%url w$news.newsTitle`"%}' target="_blank" class='OPLINK' data-click="{fm:'beha'}">
                                {%if $news@index==0%}<span class='c-index c-index-hot1'>1</span>
                                {%elseif $news@index==1%}<span class='c-index c-index-hot2'>2</span>
                                {%elseif $news@index==2%}<span class='c-index c-index-hot3'>3</span>
                                {%else%}<span class='ex'>{%$news@index+1%}</span>{%/if%}
                                {%$news.newsTitle%}
                             </a>
                        <div class='op-search-index'>搜索指数:{%$news.searchIndex%}
                            <i class="opr-toplist-st on {%if $news.change > 0%}con-up{%elseif $news.change <0 %}on-down{%else%}n-stable{%/if%}"></i>
                        </div>
                   </div>
                  <div class = 'op-hotnews-content op-show-hide'>
                            {%$news.newsContent|truncate:120:'...':true%}
                  </div>
                  </li>
		{%/foreach%}
         
        </ul>
         <div class='op-want-more'> <a target="_blank" href="{%$item.labelUrl%}">更多{%$item.label%}>>
         </a></div>
     </div>
     {%/foreach%}
</div>
<script>
    A.setup(function(){
        var _this = this,
        	$newsList = _this.find('.op-hotnews-list'),
           	$newsTitle = _this.find('.op-hotnews-list-title'),
            $timer = '';
          
       	$newsList.on('click',function(){
        	var me = this,
            $newsUrl =$(me).children().find("a").attr("href");
            	window.open($newsUrl);
        	
        });
        $newsTitle.on('mouseenter',function(){
			var oTr = $(this).next();
            //var oTd = $(this).parent('li').siblings().find('.op-hotnews-content');
            //$(oTd).css('display','none');
            $timer=setTimeout(function(){
            	$(oTr).slideDown('slow');
            },500)
        });
          
      	$newsTitle.on('mouseleave',function(){  
        	var oTr = $(this).next();
            	if($timer != ''){
            	  clearTimeout($timer);
                	$(oTr).slideUp("slow");
                	$timer = '';
                    return;
               	}
        	  });
        A.use('tabs5', function(){
            A.ui.tabs5(_this.qq('c-tabs'));
        });
    });
    
</script>

{%/block%}
